<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>ショッピングカート</title>
		<link rel='stylesheet' type='text/css' href='style.css' />
	</head>
	<body>
		<h3>ショッピングカート内の商品一覧</h3>
		<br />
		<table>
			<tr>
				<th>商品名</th>
				<th>商品の色</th>
				<th>メーカー名</th>
				<th>単価</th>
				<th>数量</th>
				<th></th>
			</tr>
			<tr th:each="cart : ${list}" th:object="${cart}">
				<td th:text="*{item.itemName}">麦わら帽子</td>
				<td th:text="*{item.color}">黄色</td>
				<td th:text="*{item.manufacturer}">日本帽子製造</td>
				<td th:text="*{item.price}">4980円</td>
				<td th:text="*{amount}">2 個</td>
				<td><a th:href="@{/cart/confirm(itemId=*{itemId})}">削除</a></td>
			</tr>
			
		</table>
		合計 ${summary} 円<br />
		<form th:action="@{/purchases/confirm}" method='POST'>
			<input type='submit' value='購入する' />
		</form>
		<br />
		<a th:href=@{/common/main}>商品検索</a>へ<br />
	</body>
</html>